[submodule "themes/blowfish"]
	path = themes/blowfish
	url = https://github.com/nunocoracao/blowfish.git
	branch = main
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/gohugo-ananke/ananke.git
[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = git@github.com:adityatelange/hugo-PaperMod.git
